{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %} 


<body style="background-image: url(/static/image.jpg); background-size: cover; background-position: center; height: 100vh; margin: 0; padding: 0; color: #c8eceb;">
    <h1 style="font-size: 7rem; font-weight: bold;  color: #c8eceb; margin: 0; padding-top: 4%; width: 60%; word-wrap: break-word;">Welcome to GateAI</h1>
    <br />
      
    <div class="container">
        <div class="row">
        <!-- Left Column -->
        <div class="col-md-5">
            <h2 style="font-weight: bold;">Our Purpose</h2>
            <p>At GateAI, we believe that every child deserves to feel safe in their school. School shootings are a tragic reality, but they should not be. Our mission is to use cutting-edge technology, such as facial and gesture recognition, to create an environment where students and staff are protected from harm. By identifying suspicious activity and securely managing access to school premises, we can help prevent violence and ensure that every school is a place where learning, growth, and safety can flourish. Together, we can build a better, more secure future—because every child's well-being matters.</p>
        </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
        <!-- Left Column -->
        <div class="col-md-5">
            <h2 style="font-weight: bold;">Our Founders </h2>
            <p>Batool — https://github.com/bsaleh1 <br> Francine — https://github.com/franm08 <br> Ifty —<br> Kaia — https://github.com/kbreex</p>
        </div>
        </div>
    </div>
</body>
{% endblock %}